.productos-importantes {
    flex-wrap: wrap;
    @include flex(row, space-evenly, center, 20px);
    margin-bottom: 20px;
    article {
        margin: 10px;
        width: 250px;
        color: #E9EFEC;
        @include flex(column, center, center, nowrap);
        background-color: map-get($map: $colores-sitio, $key: 'negro' );
        padding: 10px;
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    img {
        width: 100%;
        height: 95%;
        box-sizing: border-box;
    }
    img:hover {
        opacity: 0.9;
    }
    .content-producto {
        margin-top: 6px;
        color: #ddd;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        h3 {
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .precio {
            font-size: 24px;
        }
        p {
            color: map-get($map: $colores-sitio, $key: 'gris' );
            font-size: 14px;
            font-weight: 200;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
        }
    }
    .content-producto:hover {
        color: map-get($map: $colores-sitio, $key: 'principal' );
    }
    
    .agregar-al-carrito {
        text-align: center;
        button {
            font-size: 14px;
            padding: 10px 30px;
            font-weight: 500;
            background: linear-gradient(#c4dad2be, #c4dad28d);
            color: map-get($map: $colores-sitio, $key: 'negro' );
            border: none;
            border-bottom:5px solid #94b1a674;
            position: relative;
            overflow: hidden;
            border-radius: 0.6em;
            cursor: pointer;
            letter-spacing: 2px;
        }
        button:hover{
            border-bottom: 5px solid #fff;
            background-color:#c4dad2c2 ;
        }
    }
}
    article:hover {
    
        cursor: pointer;
        transform: scale(1.05);
    }

}