.titulo-h2 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    color: map-get($map: $colores-sitio, $key: 'blanco' );
    
}
.titulo-h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: medium;
    color: map-get($map: $colores-sitio, $key: 'blanco' );
}
h4 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: medium;
}