footer {
    
    border-top: 2px solid transparent;
    border-right: none;
    box-shadow: 0px 10px 8px 8px #ddddddc7;
    color: map-get($map: $colores-sitio, $key: 'blanco' );
    .footer {
        padding-top: 18px;
        padding-bottom: 18px;
        display: flex;
        justify-content: space-evenly;
        
        .imagenes-seguinos {
            a{
                img{
                    width: 30px;
                    width: 30px;
                    border-radius: 20px;
                }
                img:hover{
                    transform: scale(1.2);
                }
            }
        }
        .medios-de-pago {
            max-width: 250px;
            img {
                width: 40px;
                height: 30px;
                margin: 5px;
            }
        }
        .nav-footer {
            list-style: none;
            li {
                margin-bottom: 12px;
                a {
                    text-decoration: none;
                    color: map-get($map: $colores-sitio, $key: 'blanco' );
                }
            }
        }
        .Contactanos-ul-footer {
            
            li {
                list-style: none;
                margin-bottom: 12px;
                a {
                    text-decoration: none;
                    color: map-get($map: $colores-sitio, $key: 'blanco' );
                }
            }
        }
        .ubicacion {
            display: flex;
            gap: 10px;
            img {
                height: 14px;
                width: 16px;
            }
            li{
                list-style: none;
                a{
                    color: #ccc;
                    text-decoration: none;
                }
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 15px;
        border-top: 1px solid #ccc;
        article {
            div {
                font-size: smaller;
                p {
                    font-size: 18px;
                    padding: 0;
                }
                span {
                    padding-top: 0;
                    letter-spacing: -1;
                    font-size: 14px;
                }
            }
            
            a {
                color: #ccc;
            }


        }
    }
}
