header {
    margin: none;
    .header-superior {
    display: flex;
    color: #fff;
    height: 1.80rem;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    justify-content: space-between;
        p {
            margin: 0;
            padding-right: 3px;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        .num-mail {
            display: flex;
        }
        .log-in {
            padding-right: 3px;
        }
}
.banner {
    margin-top: 0;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #222;
    .logo {
        width: 20%;
        a {
            font-family: 'Orbitron', sans-serif;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: -1px;
            justify-content: flex-start;
        }
    }
    .botones-nav {
        display: flex;
        gap: 10px;
        padding-right: 15px;
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: #fff;
                padding: 6px;
            }
            a:hover {
                color: map-get($map: $colores-sitio, $key: 'principal' );
            }
            
            
        }
    }
    .buscador {
        justify-content: flex-end;
        background-color: map-get($map: $colores-sitio, $key: 'negro' );
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        margin-right: 5px;
        color: map-get($map: $colores-sitio, $key: 'blanco' );
    }
    i {
        color: map-get($map: $colores-sitio, $key: 'blanco' );
        font-size: 30px;
        cursor: pointer;
    
        &:hover > .carrito-div {
            width: 50%; 
            height: 70%; 
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            background-color: #000;
            border-left: #fff solid 1px;
            border-bottom: #fff solid 1px;
            transition: right 0.5s ease; 
            .carrito-ul {
            display: flex;
            
            justify-content: space-around;
            font-size: 16px;            
            color: map-get($map: $colores-sitio, $key: 'blanco' );
            margin: 20px 0;
            border-bottom: #666 solid 1px;
    
            li {
                padding-bottom: 10px;
                list-style: none;
            }
        }
        span {
            display: block;
            font-size: 10px;
            font-family: 'Times New Roman', Times, serif;
            color: #bbb;
            margin: 10px;
            letter-spacing: 1px;
        }
            
            
        }
    

    }
    
    .carrito-div {
        width: 0; 
        height: 100%; 
        position: absolute; 
        right: -35%; 
        transition: right 0.5s ease; 
        span {
            display: none;
        }
        .carrito-ul {
            display: none; 
        }
    }
    
}
}