.main-index {
    color: $color-blanco;
    
.ver-todo {
    margin: 0 auto;
    display: block;
    padding: 20px 80px;
    border-radius: 20px;
    border-bottom: 5px solid #c4dad2af;
    background-color:$color-principal;
    font-size: 1.56em;
    letter-spacing: 2px;
    color: #222222e7;
    margin-bottom: 10px;
}

.ver-todo:hover {
    background-color: #c4dad2c1;
    cursor: pointer;
}
.Newsletter {
    padding-top:18px ;
    text-align: center;
    margin-bottom: 20px;
    .boton-newsletter {
        padding: 18px 30px;
        border-radius: 5px;
        background-color:#c4dad28d;
        font-size: 14px;
        letter-spacing: 2px;
        color: #222222e1;
        margin-top: 18px;
    }
    }
    .boton-newsletter:hover {
        background-color: #c4dad2c2;
        cursor: pointer;
    }
}
