.main-inferior {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #fff;
    color: #aaa;
    margin: 10px 0 10px 0;
    font-size: 16px;
    img {
        width: 30px;
        height: 30px;
        margin: 14px 10px 0 0;
    }
    
}
.main-div-inferior {
    display: flex;
}
