.form-log-in {
    text-align: center;
    input {
        padding: 10px 70px;
        background-color: #000;
        border: 1px solid #fff;
        margin-bottom: 15px;
        margin-right: 30px;
        display: block;
        color: #fff;
        border-radius: 7px;
        margin: auto;
        margin-top: 5px;
    }
    label {
        
            display: block;
            text-align: center;
            margin-top: 5px;
            color: #fff;
    }
}
