.main-productos {
    display: flex;
    color: $color-blanco;
    .ordenar-por {
        text-align: center;
        color: $color-blanco;
    }
    #ordenar-por {
        padding: 4px;
        text-align: center;
        background-color: #111;
        border: none;
        border-bottom: 2px solid #555;
        color: #bbb;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
    }
    .barra-lateral {
        color: $color-blanco;
        .lista-categorias {
            list-style: none;
            border-bottom: 1px dashed #fff;
            width: 200px;
            font-size: 14px;
            li {
                margin-bottom: 17px;
                a {
                    letter-spacing: 1px;
                    text-decoration: none;
                    color: #bbb;
                    
                }
                a:active {
                    font-weight: bolder;
                }
            }
        }
        .precio-productos {
            margin-bottom: 5px;
            border-bottom: 1px dashed #fff;
            width: 236px;
            .input-precio {
                input {
                    background-color: #000;
                    border: 1px solid #fff;
                    color: #fff;
                    width: 180px;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    padding: 6px ;
                }
            }
        }
    }
    .paginacion {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            li {
                a {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}