@media(max-width: 428px) {
    .footer {
        text-align: center;
    }
    
    
    .banner {
        flex-direction: column;
        margin-bottom: 10px;
        .logo {
            width: 30%;
        }
        
        i {

            .carrito-div {
                .carrito-ul {
            font-size: 0.7rem;
            flex-direction: column;
            gap: 20px;
            
            }
            
        }
    }
    }
    .titulo-h4 {
        font-size: 14px
    }
    
    
    .main-inferior {
        font-size: 40%;
        
        
        h3 {
            font-size: 12px;
            margin-top: 5px;
        }
        .main-div-inferior {
            p {
                display: none;
            }
        }
    }
    
    
    .agregar-al-carrito {
        button {
            font-size: 6px;
            padding: 0;
    }  
    } 
    .ver-todo {
        font-size:smaller;
        height: 60px;
        padding:0;
        text-align: left;
    }
    .imagen-producto img {
        height: 150px;}
    .medios-de-pago {
           margin: auto;
          }
    
    .Contactanos-ul-footer {
        margin: auto;
    }

}
