@media(max-width: 428px) {
    .footer {
        text-align: center;
    }
    
    
    .banner {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .titulo-h4 {
        font-size: 14px
    }
    
    
    .main-inferior {
        font-size: 40%;
    }
    
    .main-inferior h3 {
        font-size: 12px;
        margin-top: 5px;
    }
    .agregar-al-carrito button {
        font-size: 10px;
        padding: 5px;
    }
    .imagen-producto img {
        height: 150px;}
    .medios-de-pago {
        margin: auto;
    }
    .Contactanos-ul-footer {
        margin: auto;
    }
}