@media (max-width: 1024px) {
    
    .productos-importantes {
        gap: 30px;
    }
    .main-contacto {
        justify-content: space-around;
        
        
    }  
    .formulario-contacto input {
    width: 400px;
    } 
}