@media(max-width: 540px) {
    .main-index {
        width: 100%;
    }
    
    .log-in {
        margin: auto;
    }
    .num-mail {
        p {
            display: none;
        }
        a {
            display: none;
        }
    }
    
    .banner {
        flex-direction: column;
        margin-bottom: 10px;
        div {
            margin-bottom: 4px;
        }
        i {
            &:hover > .carrito-div {
                li {
                    font-size: 12px;
                }
                
            }
        }
    }
    .productos-importantes {
        width: 100%;
        gap: 0;
        justify-content: space-evenly;
        article {
            width: 45%;
            margin-bottom: 15px;
        }
    }
    .ver-todos {
        a {
            font-size: 11px;
            
        }
    }
    .ordenar-por  {
        select {
            font-size: 10px;
        }
    }
    .main-inferior  {
        padding-top:10px ;
        img {display: none;
        }
        h3 {font-size: 80%;
        }
        p {font-size: 80%;
        }
    }
    .form-crear-cuenta input {
        width: 90%;
    }
    .agregar-al-carrito{
            button {
            max-width: none;
            width: auto;
            height: 60px;
        }
        
            
        
    }
    footer {
        .copyright {
            flex-direction: column;
            text-align: center;
        }
    } 
    .whatsapp {
        img {
        width: 30px;
        }
    }
}
