@media(max-width: 540px) {
    
    .log-in {
        margin: auto;
    }
    .num-mail {
        p {
            display: none;
        }
        a {
            display: none;
        }
    }
    
    .banner {
        flex-direction: column;
        margin-bottom: 10px;
        div {
            margin-bottom: 4px;
        }
    }
    .productos-importantes {
        gap: 0;
        justify-content: space-evenly;
        article {
            width: 160px;
        }
    }
    .ver-todos {
        a {
            font-size: 11px;
            
        }
    }
    .ordenar-por  {
        select {
            font-size: 10px;
        }
    }
    .main-inferior  {
        img {display: none;
        }
        h3 {font-size: 80%;
        }
        p {font-size: 80%;
        }
    }
    .form-crear-cuenta input {
        width: 90%;
    }
    .agregar-al-carrito{
        
        button {
            font-size: 6px;
            width: 100%;
            height: 35px;
            text-align: center;
            padding: 2px 0;
            
        }
    }
    
}