@media(max-width: 540px) {
    
    .log-in {
        margin: auto;
    }
    .num-mail {
        p {
            display: none;
        }
        a {
            display: none;
        }
    }
    
    .banner {
        flex-direction: column;
        margin-bottom: 10px;
        div {
            margin-bottom: 4px;
        }
    }
    .productos-importantes {
        gap: 1px;
        justify-content:none;
        article {width: 160px;}
    }
    .ver-todo {
        font-size: 16px;
    }
    .ordenar-por  {
        select {
            font-size: 10px;
        }
    }
    .main-inferior  {
        img {display: none;
        }
        h3 {font-size: 80%;
        }
        p {font-size: 80%;
        }
    }
    .form-crear-cuenta input {
        width: 90%;
    }
    .agregar-al-carrito{
        button {
            text-align: center;
            width: 90%;
            font-size: 8px;
            
        }
    }
    
}